hr {
  color: rgb(11, 218, 201) !important;
  font-weight: 600;
}

#middle-banner {
  background-color: rgb(11, 16, 19) !important;
  margin-top: 140px;
  height: 690px;
}

.inner {
  margin: 2.5em;
  padding: 5.5em;
}

.icon-user {
  color: #a91c1c !important;
  font-size: 30px;
}

.icon-star {
  color: #0ed8ea !important;
}

.middle-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.theme-color {
  background-color: #0ed8ea !important;
  padding: 0.2em;
  color: #000000 !important;
}
