.counter-gap{
    margin-top: 50px;
}
.wrapper{
    /* border: 1px solid #01ea3f !important; */
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.counter{
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    border-radius: 0.5em;
    /* background-color: #000000; */
    border: 2px solid #01ea3f !important;
    border-bottom: 10px solid #0ed8ea !important;
}

.count-icon{
    color: #0ed8ea !important;
    font-size: 2.5em;
    text-align: center;
}

span.num{
    color: #000000 !important;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}

span.text{
    color: #000000 !important;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
}

@media screen and (max-width: 1024px){
    .wrapper{
        width: 85vw;   
    }

    .counter{
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px){
    .wrapper{
        width: 90vw;  
        flex-wrap: wrap; 
        gap: 30px;
        margin-top: 290px;
    }

    .counter{
        height: 30vmin;
        width: calc(50% - 40px);
        font-size: 14px;
    }
}

@media screen and (max-width: 480px){
    .wrapper{
        gap: 15px;
        
    }

    .counter{
        height: 25vmin;
        width: 100%;
        font-size: 8px;
    }
}