#logo {
  color: #cf1e44 !important;
  font-family: monospace;
  font-size: 27px;
  font-weight: bolder;
}

.dot-nav{
  color: white !important;
  font-size: 10px;
}
.close-button{
  color: #ffffff !important;
  background-color: #cf1e44 !important;
}

#toggle {
  font-size: 15px;
  background-color: #cf1e44 !important;
  border: 3px solid #fffdfd !important;
}

#toggle:hover{
  border: 1px solid #d9084e !important;
  background-color: #ffffff !important;
}


.toggle-bar {
  background-color: white !important;
  color: #fcf6f6 !important;
}
.nav-body{
   background-color: #000000 !important;
}

.travel-info{
  color: #ffffff !important;
  font-family: fantasy;
  font-weight: bolder;
  font-size: 30px;
}

.nav-list{
  color: #ffffff !important;
  font-size: 18px;
  border: 1px solid bisque !important;
}

.nav-list:hover{
  color: #ffffff !important;
  background-color: #e299a9 !important;
}