.banner{
  margin-top: -80px;
}

.banner-section img{
   height: 83ch;
  width: 100%;
}

.banner-text{
    margin-top: -460px;
    margin-left: 160px;
}

.text-inner{
    margin-top: -60px;
    margin-left: 160px;
}
