.login-bg{
    margin-top: -90px;
    height: 57vh;
    background-color: black !important;
}

.login-bg-2{
    background-color: #c2a31c !important;
    height: 56vh;
}

.login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -48%;
    width: 38%;
    height: 86vh;
    border: 1px solid white !important;
}

.sign-up{
    display: flex;
    padding: 0.5em;
    border: 1px solid white !important;
    width: 45%;
    background-color: white !important;
}

.sign-up a{
    color: black !important;
    text-decoration: none;
    margin-top: 4px;
    font-size: 16px;
}

.sign-up img{
    width: 30%;
    cursor: pointer;
}




@media screen and (max-width: 1024px){
    .login{
    margin-top: -90%;
    width: 60%;
    height: 85vh;
   }

   .login-bg{
    margin-top: -90px;
    height: 52vh;
    
   }

    .login-bg-2{
    height: 50vh;
    }
}

@media screen and (max-width: 768px){
    .login{
        margin-top: -180%;
        width: 40%;
        height: 90vh;
    }

}

@media screen and (max-width: 480px){
    .login{
    margin-top: -150%;
    width: 80%;
    height: 85vh;
    border-radius: 8px;
   }
   .login-bg{
    margin-top: -90px;
    height: 52vh;
 }

  .login-bg-2{
  height: 50vh;
  }
}

