.login-bg{
    margin-top: -90px;
    height: 57vh;
    background-color: black !important;
}

.login-bg-2{
    background-color: #c2a31c !important;
    height: 56vh;
}

.login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -48%;
    width: 38%;
    height: 86vh;
    border: 1px solid white !important;
}

form {
    margin-top: 80px;
    text-align: start;
}

form input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: #c2a31c !important;
}

form input:focus{
    background-color: #ffffff !important;
    border: 2px solid #ffffff !important;
    border-radius: none;
}

form p{
    text-align: center;
    color: #ffffff !important;
    cursor: pointer;
}

.sign-up{
    display: flex;
    padding: 0.5em;
    width: 290px;
    height: 8vh;
    margin-left: 150px;
    margin-top: -80px;
}

.sign-up a{
    color: #ffffff !important;
    text-decoration: none;
    /* border: 1px solid white !important; */
}

.facebook{
    background-color: #2886f1 !important;
}

.google{
    background-color: #f4455a !important;
}


@media screen and (max-width: 1024px){
    .login{
    margin-top: -90%;
    width: 60%;
    height: 85vh;
   }

   .login-bg{
    margin-top: -90px;
    height: 52vh;
    
   }

    .login-bg-2{
    height: 50vh;
    }
}

@media screen and (max-width: 768px){
    .login{
        margin-top: -180%;
        width: 40%;
        height: 90vh;
    }

}

@media screen and (max-width: 480px){
    .login{
    margin-top: -150%;
    width: 80%;
    height: 85vh;
    border-radius: 8px;
   }
   .login-bg{
    margin-top: -90px;
    height: 52vh;
 }

  .login-bg-2{
  height: 50vh;
  }
}

