.contact-banner{
   margin-top: -97px;
}
.contact-banner img{
    width: 100%;
    height: 90vh;
}
.contact-banner-button{
    margin-top: -620px;
    width: 29%;
    height: 10vh;
    background-color: #ffffff !important;
    color: #ea0e4c !important;
    border: 1px solid white !important;
    letter-spacing: 9px;
}

.contact{
    background-color: #262323 !important;
    margin-top: -85px;
    height: 250vh;
}

textarea:focus{
    background-color: #ffffff !important;
    border: 1px solid #000000 !important;
    border-radius: none;
}

.contact-touch span a{
    text-decoration: none;
    color: #ffffff !important;
}

.contact-touch-2{
    border-left: 3px solid #df146c !important;
}

.contact-touch-2 span a{
    text-decoration: none;
    color: #ffffff !important;
}

.contact-headline{
    color: #ebced8 !important;
    font-family:monospace;
}

.contact-message{
    margin-top: 130px;
}

.submit{
    background-color: #e11969 !important;
    color: #ffffff !important;
    border: 1px solid #e11969 !important;
    width: 15%;
    letter-spacing: 8px;
}

.submit:hover{
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #e11969 !important;
}