/* common style */
.main-button {
  padding: 0.7em;
  border: 1px solid rgb(182, 178, 178);
  background-color: rgb(255, 255, 255);
  color: #413838;
  letter-spacing: 3px;
  transition: 0.3s ease-in-out;
}

.main-button:hover {
  background-color: #0ed8ea;
  color: white;
  border: 1px solid #0ed8ea;
  z-index: 1;
  box-shadow: 0 8px 50px #fff9f933;
  transform: scale(1.05);
}
/* common style */


.last-banner-div {
  padding: 1.5em;
  margin: 1.5em;
}

.last-banner-div img {
  width: 60vh;
  height: 60vh;
  border-radius: 300px;
}
