.nav-banner-text{
     margin-top: -380px;
}

.nav-banner-text h6{
    font-size: 35px;
}

.nav-banner-text p{
    font-size: 17px;
}

.nav-banner-text span{
    color: #cd2152 !important;
    font-weight: 600;
}

.blogs{
    margin-top: 400px;
}

.blog-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    margin-left: 130px;
}
.blog-list h5{
    color: #615e5f !important;
}

.blog-list span{
    font-size: 14px;
    cursor: pointer;
}

.blog-icon{
    color: #cd2152 !important;  
    font-size: 20px;
    cursor: pointer;
}

