.nav-banner-text{
     margin-top: -380px;
}

.nav-banner-text h6{
    font-size: 35px;
}

.nav-banner-text p{
    font-size: 17px;
}

.nav-banner-text span{
    color: #cd2152 !important;
    font-weight: 600;
}

.blogs{
    margin-top: 400px;
}