h2{
    color:rgb(247, 241, 241) !important; 
}
h3{
  color:rgb(247, 241, 241) !important; 
}

p{
  color:rgb(247, 241, 241) !important;
}

hr{
    color:rgb(247, 241, 241) !important; 
}

.banner{
  margin-top: -80px;
}

.banner-section img{
   height: 83ch;
  width: 100%;
}

.banner-text{
    margin-top: -460px;
    margin-left: 160px;
}

.text-inner{
    margin-top: -60px;
    margin-left: 160px;
}

.banner-text h1{
    font-size: 55px;
    color:rgb(247, 241, 241) !important;
    font-weight: 500;
    font-family: monospace;
}

.banner-icon{
    color:rgb(218, 200, 42) !important;
    font-size: 50px;
    font-family: monospace;
}
